/* Header Styles
.custom-header {
    background-color: #2a2a2a; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .custom-header:hover {
    background-color: #333333; 
  }
  .logo {
    text-decoration: none;
  }
  

  .search-bar {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .search-bar:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff; 
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #a0a0a0;
  }
  
  .dark-mode body {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode .custom-header {
    background-color: #333333;
  }
  
  .dark-mode .search-bar {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dark-mode .search-bar:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dark-mode .nav-link {
    color: #ffffff;
  }
  
  .dark-mode .nav-link:hover {
    color: #a0a0a0;
  } */